.index{
	display: flex;
	flex-direction: row;
	height: 100%;
}
.left_module{
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: column;
	padding-top: 5%;
	padding-bottom: 5%;
	align-items: center;
}
/*.left_module:hover{
    box-shadow:0 0 18px rgba(0,0,0,0.4);
}
.left_module:hover:before{position:absolute; content:""; bottom:10px; left:0; height:20px; width:50%; box-shadow:0 15px 10px rgba(0,0,0,0.3); -webkit-transform:rotate(-6deg); -moz-transform:rotate(-6deg); -o-transform:rotate(-6deg); -ms-transform:rotate(-6deg); transform:rotate(-6deg); z-index:-1}
.left_module:hover:after{position:absolute; content:""; bottom:10px; left:0; height:20px; width:50%; box-shadow:0 15px 10px rgba(0,0,0,0.3); -webkit-transform:rotate(-6deg); -moz-transform:rotate(-6deg); -o-transform:rotate(-6deg); -ms-transform:rotate(-6deg); transform:rotate(-6deg); z-index:-1;right:0; left:auto; -webkit-transform:rotate(6deg); -moz-transform:rotate(6deg); -o-transform:rotate(6deg); -ms-transform:rotate(6deg); transform:rotate(6deg)}*/
.right_module{
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
}
.function,.function-bottom{
	display: flex;
	flex-direction: row;
	margin-bottom: 3%
}
.function-bottom{
	position: fixed;
	bottom: 0;
}
.desc{
	display: flex;
	flex-direction: column;
}
.click{
	padding: 10px;
	margin-top: 15%;
	background-color:#90EE90; 
	font-size: larger;
	border: none;
	height: 20%;
	outline: none;
}
/*.click:hover{
    box-shadow:0 0 18px rgba(0,0,0,0.4);
}
.click:hover:before{position:absolute; content:""; bottom:0; left:0; height:20px; width:50%; box-shadow:0 15px 10px rgba(0,0,0,0.3); -webkit-transform:rotate(-6deg); -moz-transform:rotate(-6deg); -o-transform:rotate(-6deg); -ms-transform:rotate(-6deg); transform:rotate(-6deg); z-index:-1}
.click:hover:after{position:absolute; content:""; bottom:0; left:0; height:20px; width:50%; box-shadow:0 15px 10px rgba(0,0,0,0.3); -webkit-transform:rotate(-6deg); -moz-transform:rotate(-6deg); -o-transform:rotate(-6deg); -ms-transform:rotate(-6deg); transform:rotate(-6deg); z-index:-1;right:0; left:auto; -webkit-transform:rotate(6deg); -moz-transform:rotate(6deg); -o-transform:rotate(6deg); -ms-transform:rotate(6deg); transform:rotate(6deg)}*/